.App {
    text-align: center;
    background-color: orange;
  }
  img {
    width: 10em
  }
  p {
    font-size: 10pt;
  }

  div.head {
    font-size: 20pt
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .inner {
    border: solid 1px black;
    min-height: 508px
  }
  input {
    background-color: mediumaquamarine;
    border: solid 1px black;
    padding: 10px;
  }
  input:focus {
    background-color: aliceblue
  }
  .input-container {
    padding: 10px
  }
  .input-div > * {
    display: inline-block;
    padding: 2px
  }
  button {
    color: mediumaquamarine;
    background-color:black;
    border: none;
    padding: 10px
  }
  a {
    text-decoration: none;
    color: black
  }
  @media (max-width: 968px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 784px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 524px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }